---
import { Code } from "astro:components";

const {url} = Astro.props;

---


<a href={url}>
    <h1 class="flex items justify-center bg-black hover:bg-green-600 w-40 text-white rounded-lg p-2 ml-2"> Volver al inicio</h1>
</a>