---
const { name } = Astro.props;
const { img } = Astro.props;
---

<a href={"/pokemon/" + name}>
  <div class="border border-red-500 p-1 rounded-md">
    <h1 class="text-center">{name}</h1>
    <img src={"/img/" + img} alt={name} />
  </div>
</a>
 